<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>693705437108-7apm668sf37fvd3q8qcn9400688bu737.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.693705437108-7apm668sf37fvd3q8qcn9400688bu737</string>
	<key>API_KEY</key>
	<string>AIzaSyBWvPUZlhehOa5QHEudHw5sWb6kvH_FwKI</string>
	<key>GCM_SENDER_ID</key>
	<string>693705437108</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ios-75-82.ComicApp</string>
	<key>PROJECT_ID</key>
	<string>comicapp-5a8af</string>
	<key>STORAGE_BUCKET</key>
	<string>comicapp-5a8af.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:693705437108:ios:9cd304ff80371a3f7b0ce1</string>
	<key>DATABASE_URL</key>
	<string>https://comicapp-5a8af.firebaseio.com</string>
</dict>
</plist>